* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
$roboto: "Roboto";
$cursive_font: "Satisfy";
$round: "Varela Round";
$cta: #fe8033;
$bg: #272b34;
$light_bg: #2b3039;
$text: #2d343e;
$white: #fff;

body {
	width: 100%;
	height: 100%;
	position: relative;
	font-family: $round;
	background: url(https://media.istockphoto.com/vectors/books-seamless-pattern-vector-id470721440?k=6&m=470721440&s=612x612&w=0&h=OtHvCXQICZ0hXiJJT0tWYrwZznqYw_ncU307tQDrDUA=);
}
.dFlex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}


.main_content {
	@extend .dFlex;
	position: relative;
	width: 70%;
	height: 100%;
	margin: 50px auto;
	padding: 50px 0 0;
	box-sizing: border-box;
	justify-content: space-between;
	flex-wrap: wrap;

	h3 {
		position: absolute;
		left: 0;
		top: 0;
		color: $text;
		font-size: 10.5vw;
	}
	.card {
		padding: 30px;
		width: 25%;
		border-radius: 15px;
		@extend .dFlex;
		flex-direction: column;
		position: relative;
		transform: scale(0.8);
		transition: all 0.3s ease-in-out;
		margin-bottom: 50px;
		border-style: groove;
		border-color: #8793a3;
		background-color: #fafaee;
		.card_img {
			img {
				width: 200px;
			}
		}
		.card_header {
			@extend .dFlex;
			flex-direction: column;
			color: $white;
			h2 {
				font-size: 18px;
			}
			p {
				font-size: 14px;
				text-align: center;
				color: rgba($white, 0.3);
				margin: 8px 0;
			}
			.price {
				font-size: 25px;
				color: $cta;
				span {
					font-size: 15px;
					display: inline-block;
					vertical-align: top;
				}
			}
		}
	}
	.card:hover {
		background-color: #fafaee;
		transform: scale(1.1);
		cursor: pointer;
		border-style: groove;
	}
	.card:hover {
		.btn {
			background-color: $cta;
			color: $white;
		}
	}
}
.btn {
	width: 130px;
	height: 35px;
	font-size: 14px;
	border-radius: 35px;
	background-color: black;
	color: white;
	@extend .dFlex;
	cursor: pointer;
	position: relative;
	transition: background-color 0.3s ease;
	overflow: hidden;
}