.dFlex {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer {
	@extend .dFlex;
	justify-content: space-between;
	color: black;
	font-size: 12px;
	padding: 0 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
	p {
		background-color: lightgray;
		border-radius: 20px;
		padding: 8px;
	}

	.social {
		@extend .dFlex;
		.fa {
			background-color: lightgray;
			width: 50px;
			height: 50px;
			border-radius: 50px;
			border: 1px solid black;
			@extend .dFlex;
			font-size: 14px;
			cursor: pointer;
			+ .fa {
				margin-left: 15px;
			}
		}
	}
}
